<h1>About us</h1>
<p>We are currently working to build the best destination for your funny/hot/embarrassing make out pictures. Submit your email address below and we will let you know when we are up and running.</p>
